button {
    padding: 10px 20px;
    font-size: 16px;
    background: #4300be;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #320093;
}

#animation-area {
    margin-top: 20px;
}

#plaintext-display,
#final-ciphertext {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background: #fff;
    border: 2px solid #333;
    display: block;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.blocks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box {
    width: 200px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    word-break: break-word;
}

.plaintext-box {
    background: rgb(224, 214, 251);
}

.encryption-box {
    background: rgb(180, 233, 251);
}

.ciphertext-box {
    background: rgb(218, 144, 238);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arrow {
    font-size: 24px;
    margin: 5px 0;
    display: block;
    opacity: 1;
    animation: moveArrow 1s infinite alternate;
}

.fade-in {
    opacity: 1;
}

.encryption-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.key-box{
    width: 50px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background: #ffcc00;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 2s ease-in-out;
}

@keyframes moveArrow {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}

@keyframes moveKey {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
    }
}

.key-animation {
    opacity: 1;
    transform: translateX(10px);
}

@keyframes moveBlock {
    from{
        transform: translateY(-10px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity:1;
    }
}

.parallel-animation{
    animation: moveBlock 1s ease-in-out forwards;
}

