* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #a0a0fd !important;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.navbar {
    background-color: #4300be;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: end !important;
    padding: 10px;
}

.navbar-brand {
    color: rgb(224, 180, 255) !important;
    font-weight: bolder;
    font-size: large;
    margin-right: 70% !important;
}
.navbar-brand:hover {
    color: #bdfff5 !important;
    font-weight:bolder ;
}

.nav-link {
    color: whitesmoke !important;
    font-size: medium;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: rgb(131, 216, 255) !important;
    font-weight: bold;
}

.nav-link.active {
    color: azure !important;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    max-width: 80%;
    background-color: rgba(218, 218, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}
.content {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: 700;
}

.content h4 {
  font-size: 1.25rem;
  color: #555;
  font-weight: 400;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: auto;
}

#aes {
    background-image: url('../assets/note.png');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    flex: 1;
    min-height: 600px;
    
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    padding: 40px;
    
}

#aes div {
    margin-top: 30px;
    background: rgba(74, 0, 103, 0.6);
    padding: 30px;
    border-radius: 10px;
}

#aes h4 {
    font-size: 30px;
}

#aes p {
    font-size: 16px;
    line-height: 1.2;
}

#aes-features {
    background-image: url('../assets/note.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    
    flex:1;
    min-height: 600px;
    
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    padding: 50px;
    
}

#aes-features div {
    background: rgba(74, 0, 103, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin-top: 65px;
}

#aes-features h4 {
    font-size: 18px;
}

#aes-features ul {
    font-size: 14px;
    line-height: 1.2;
}

@media (max-width: 700px) {
    #aes, #aes-features {
        width: 100%;
        background-size: cover;
        text-align: center;
        padding: 20px;
    }

    #aes div, #aes-features div {
        background: rgba(74, 0, 103, 0.6);
    }
}
